<div class="container">
  <div class="row">
    <h5>
      Surprisingly, this is a discord server for Christian geeks. Most of us are Christians, but some are not. We welcome anyone who wants a safe, (mostly) family-friendly, fun environment online to meet people, chat, game, whatever.<br>
      <hr>
      As you would expect, many of us are gamers, but not all. We talk about music, movies, life, religion, anime, whatever is on our minds.<br>
      <hr> 
      Come and say hi!
    </h5>
  </div>
</div>
