<div class="container">
  <div class="clear"></div>
  <h2 class="center">Total Members: {{ vm.data.members.length }}</h2>
  <h4 class="center" >Moderators:</h4>
  <div class="clear"></div>
  <div class="row">
    <h5 class="center moderators one-third column" ng-repeat="member in vm.data.members | modFilter">{{ member.user.username }}</h5>
  </div>
  <div class="clear"></div>
  <h4 class="center">Everyone Else:</h4>
  <div class="clear"></div>
  <div class="row">
    <p class="three columns" ng-repeat="member in vm.data.members | filterMods track by $index">{{ member.user.username }}</p>
  </div>
  </div>
  </div>
