<div class="container">
  <div class="clear"></div>
  <h1 class="center">Connect With Us</h2>
  <div class="clear"></div>
  <div class="row">
    <div class="col-xs-6 col-md-4 center">
      <a href="{{ vm.sites.discord.url }}"><img class="siteImg" ng-src="{{ vm.sites.discord.img }}"/></a>
      <h4>
        Discord Server
      </h4>
    </div>
    <div class="col-xs-6 col-md-4 center">
      <a href="{{ vm.sites.steam.url }}"><img class="siteImg" ng-src="{{ vm.sites.steam.img }}"/></a>
      <h4>
        Steam Group
      </h4>
    </div>
    <div class="col-xs-6 col-md-4 center">
      <a href="{{ vm.sites.facebook.url }}"><img class="siteImg" ng-src="{{ vm.sites.facebook.img }}"/></a>
      <h4>
        Facebook Group
      </h4>
    </div>
  </div>
</div>
